table{
  border-collapse: collapse;
}
tr{
  border-collapse: collapse;
  border-radius: 5px;
  font-size: 20px;
  height:100px;
  width:100%;
  text-align: center;
  box-shadow: inset 5px 5px 20px darkGrey, 5px 5px 10px darkGrey;
}
td{
  padding-left:10px;
  padding-right:10px;
}
.todoinfo{
  text-align: left;
  min-width: 500px;
}
.subDiv{
  display: inline-block;
  margin:2%;
}
.menuItems{
  padding:7px;
  font-size: 30px;
  color: black;
  font-weight:normal;
  text-decoration: none;
  font-family: sans-serif;
}
.options{
  margin:1%;
  display: block;
  height:140px;
  width:140px;
}
.mainLogo{
  height: 250px;
  width:220px;
  margin:1%;
}
.todos{
  padding:5px 0px 5px 100px;
  margin:1%;
  font-family: sans-serif;
  border-radius: 8px;
  box-shadow: inset 0px 0px 20px darkGrey,5px 5px 10px darkGrey;
}
